<section class="main">
  <div class="card mb-1" style="max-width: 100%; height: 87%; padding-top: 50px;padding-left: 50px;
  padding-right: 50px;
   background-color: darkblue; border-top-left-radius: 445px;">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title" id="title">All time sale ratio</h5>
          <h1>We Are Calculating The Best Opportunities For You!</h1>
          <p class="card-text">Unify Network is the most trusted provider of Live Transfers ,Inbound calls and Leads for Insurance, Financial Services, and other Industries. We are here to help Businesses increase their sales , Return On Investment and Decrease their Acquisition Cost.Our advanced Pay-Per-Call Marketing Technologies and Strategies allow our highly skilled team, formed by experts, to deliver performance that is second to none.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <p-chart type="line" [data]="data" [options]="options"></p-chart>
      </div>
      </div>
    </div>
  </div>
</section>

