<mat-toolbar style="background-color:rgb(2, 31, 56);">
  <div class="navbar" style="background-color:rgb(2, 31, 56);">
        <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid" style="background-color:rgb(2, 31, 56);">

            <h1 class="navbar-brand"
            style="font-size:1.8rem;
            font-weight:900;
            color:red; font-family: 'Mali', cursive;">Unifynetwork</h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav"
            style="margin-left: 5vw;  padding-right: 5vw;
            border-bottom-left-radius: 500px;">
              <div class="navbar-nav ml-auto" id="mynavbar">
                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                 style="font-size:1.2rem; visibility: hidden; color:white;"  routerLink="home">Home</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                  style="font-size:1.2rem; visibility: hidden; color:white;" routerLink="my-projects">Projects</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                style="font-size:1.2rem; visibility: hidden; color:white;"  routerLink="my-blogs">Blogs</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                 style="font-size:1.2rem; visibility: hidden; color:white;"  routerLink="my-services">Buy Now</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                style="font-size:1.2rem; visibility: hidden;color:white;"
                 routerLink="my-achivements">Achivements</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                style="font-size:1.2rem; visibility: hidden;color:white;"
                 routerLink="my-future-plans">Future Plans</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
</mat-toolbar>
