<div style="max-width: 100%; background-color: white; height: 700px;">
  <div class="row g-0">
    <div class="cardbody">
      <h5 >our achivements</h5>
      <h1 >Our Success Journey</h1>
    </div>

    <div class="col-md-12 p-5" id="Box-animation-division" >
      <div class="wrapper">
        <div class="container">
          <div class="image-cube">
            <div class="front">
              <img src="../../../assets/Dashboard2/happyclients.jpg" class="card-img-top" alt="Happy Clients">
              <div class="card-body" style="position: relative; background-color: black;
              height: 100px;text-align: center;">
                <h5 class="card-title">Happy Clients</h5>
                <h1 class="card-title">200+</h1>
              </div>
            </div>
            <div class="right">
              <img src="../../../assets/Dashboard2/projects.jpg" class="card-img-top" alt="On Going Campaigns">
              <div class="card-body" style="position: relative; background-color: black;
              height: 100px;text-align: center;">
                <h5 class="card-title">On Going Campaigns</h5>
                <h1 class="card-title">10+</h1>
              </div>
            </div>
            <div class="back">
              <img src="../../../assets/Dashboard2/year2020.jpg" class="card-img-top" alt="Operating Since">
              <div class="card-body" style="position: relative; background-color: black;
              height: 100px;text-align: center;">
                <h5 class="card-title">Operating Since</h5>
                <h1 class="card-title">2020</h1>
              </div>
            </div>
            <div class="left">
              <img src="../../../assets/Dashboard2/teammember.jpg" class="card-img-top" alt="Team Members">
              <div class="card-body" style="position: relative; background-color: black;
              height: 100px; text-align: center;">
                <h5 class="card-title">Team Members</h5>
                <h1 class="card-title">100+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

