<section  style="overflow-x: hidden" class="mainsection">
  <div
    class="row"
    style="display: flex; align-items: flex-end"
    id="paddingclass"
  >
    <div class="col-md-7" id="paddingclass1">
      <div class="writencontent">
        <h5>Grow yourself with us.</h5>
        <h1>Elevate Your Customer Interactions.</h1>
        <h4>
          Amplifying your brand's voice. Strengthening customer connections.<br />
          Building lasting customer relationships. <br />
          Where every call makes a difference. Nationwide ✌️
        </h4>
      </div>

      <div class="wrapper">
        <div class="button">
          <div class="icon">
            <a id="facebook" href=""
              ><i class="fa fa-facebook-official" aria-hidden="true"></i
            ></a>
          </div>
          <a id="facebook" href="">
            <span>Facebook</span></a
          >
        </div>
        <div class="button">
          <div class="icon">
            <a id="twitter" href=""
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
          <a id="twitter" href="">
            <span>Twitter</span></a
          >
        </div>
        <!-- <div class="button">
          <div class="icon">
            <a
              id="insta"
              href="https://www.researchgate.net/profile/Mushhood-Afsar-2"
              ><i style="font-style: none; font-weight: 900; color: black"
                >R</i
              ></a
            >
          </div>
          <a
            id="insta"
            href="https://www.researchgate.net/profile/Mushhood-Afsar-2"
            ><span>ResearchG.</span></a
          >
        </div> -->
        <div class="button">
          <div class="icon">
            <a
              id="linkedin"
              href=""
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i
            ></a>
          </div>
          <a
            id="linkedin"
            href=""
            ><span>Linkedin </span></a
          >
        </div>

        <!-- <div class="button">
          <div class="icon">
            <a id="github" href="https://github.com/mushhoodafsar949"
              ><i class="fa fa-github" aria-hidden="true"></i
            ></a>
          </div>
          <a id="github" href="https://github.com/mushhoodafsar949"
            ><span>Github </span></a
          >
        </div> -->

        <div class="button">
          <div class="icon">
            <a
              id="youtube"
              href=""
              ><i class="fa fa-youtube" aria-hidden="true"></i
            ></a>
          </div>
          <a
            id="youtube"
            href=""
            ><span>YouTube</span></a
          >
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4">
      <div
        class="card"
        style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 20px;
        width: 100%;
      "
      >
        <img
          width="100%"
          height="500"
          src="../../assets/Logo/logo.png"
          alt="unifynetwork logo"
        />
      </div>
    </div> -->
  </div>
</section>



